# Node.js dependencies
/node_modules

# Electron build files
/dist
/out
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
.pids
*.pid
*.pid.lock

# Compiled Python files
__pycache__/
*.py[cod]
*.so

# IDE settings (JetBrains IDEs like IntelliJ, WebStorm, PyCharm)
.idea/
*.iml
*.iws
*.ipr

# MacOS system files
.DS_Store

# Virtual environments
venv/
.venv
env/
.env
ENV/
env.bak/
venv.bak/

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Compiled binary files (for C++ if use later)
*.out
*.o
*.obj
*.exe
*.dll
*.dylib

# -----------------------------
# Electron
# -----------------------------
# Logs
electron-react-app/logs
electron-react-app/*.log

# Runtime data
electron-react-app/pids
electron-react-app/*.pid
electron-react-app/*.seed

# Coverage directory used by tools like istanbul
electron-react-app/coverage
electron-react-app/.eslintcache

# Dependency directory
electron-react-app/node_modules
electron-react-app/release/app/dist
electron-react-app/release/build
electron-react-app/.erb/dll

electron-react-app/.idea
electron-react-app/npm-debug.log.*
electron-react-app/*.css.d.ts
electron-react-app/*.sass.d.ts
electron-react-app/*.scss.d.ts

# Electron Forge output
/out/
/make/

# Package-lock (optional, can be excluded to avoid locking package versions)
package-lock.json

# Sentry DSN or other sensitive API keys
.sentryclirc
.env.local